{% if messages %}

    {% for msg in messages %}
        {% if msg.tags == 'info' %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <span class="alert-icon text-success me-2">
                    <i class="ti ti-check ti-xs"></i>
                </span>
              {{msg}}
            </div>
        {% endif %}
        {% if msg.tags == 'error' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <span class="alert-icon text-danger me-2">
                <i class="ti ti-ban ti-xs"></i>
                </span>
                {{msg}}
             </div>
        {% endif %}
    {% endfor %}

{% endif %}